
body {
    font-family: 'Arial', sans-serif;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 260px;
    
}

#display {
    width: 85%;
    height: 50px;
    text-align: right;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    color: white;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    background-color: grey;
    color: #fff;
    border: none;
    width: 60px;
    height: 60px; 
    font-size: 18px;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center; 
}

button:hover {
    background-color: rgba(33, 29, 29, 0.843);
}

button.zero {
    grid-column: span 2; 
    width: 120px; 
    border-radius: 30px; 
}

#orange{
    background-color: orange;
}
#orange:hover{
    background-color: chocolate;
}

